*{
  box-sizing: border-box;
}


@mixin simonSetting($bg, $br, $bL, $bR, $bB, $bT){
  background: $bg;
  border-radius: $br;
  border-left: $bL;
  border-right: $bR;
  border-bottom: $bB;
  border-top: $bT;
}

@mixin lostAndGo($c,$fw,$p,$l,$t,$z){
  color:$c;
  font-weight: $fw;
  position: $p;
  left: $l;
  top: $t;
  z-index: $z;
}

                                                    //GAME

.simon {
  h1{
    text-align: center;
  }
  .wrapper{
    display: flex;
    justify-content: center;
    .game {
      display: inline-block;
      position: relative;
      margin-right: 10px;
      .group {
        display: flex;
        .part {
          width: 150px;
          height: 150px;
          border-width: 0;
          border-color: #000000;
          opacity: 45%;
          &:hover{
            border-width: 3px;
          }
        }
      }
    }
  }
}

                                                 //MENU
.menu {
  margin-left: 10px;
  .round {
    button {
      width: 60px;
      height: 25px;
      background: #00ecff;
      border-radius: 10px;
      border-width: 0;
      cursor: pointer;
      font-weight: bold;
      &:hover {
        border-width: 2px;
      }
    }
  }
}


                                            //SINGLE SELECTORS
.one{
  @include simonSetting(#0000ff, 100% 0 0 0, solid, 0, 0, solid);
}
.two{
  @include simonSetting(#ff0000, 0 100% 0 0, 0, solid, 0, solid);
}
.three{
  @include simonSetting(#ffff00, 0 0 0 100%, solid, 0, solid, 0);
}
.four{
  @include simonSetting(#168116, 0 0 100% 0, 0, solid, solid, 0);
}

.backShadow {
  position: absolute;
  z-index: -1;
  right: -9px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);;
  width: 308px;
  height: 308px;
  border-radius: 100%;
}

.difficultyLevel {
  position: absolute;
  left: 10px;
  top: 10px;
}

.letsGo {
  @include lostAndGo(#000, bold, absolute, 46%, 47%, 999)
}
.lost {
  @include lostAndGo(#000, bold, relative, 38%, null, 999)
}

.music {
  position: absolute;
  font-weight: bold;
  right: 10px;
  top: 25px;
}

